spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8081

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000

management:
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    io.github.resilience4j: DEBUG
    org.springframework.amqp: DEBUG