spring:
  application:
    name: Aegis API Platform

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

  profiles:
    active: dev

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.flywaydb: INFO
    org.springframework.boot.context.config: DEBUG
    io.github.resilience4j: DEBUG
    org.springframework.amqp: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%X{correlationId}] %-5level %logger - %msg%n"

resilience4j:
  circuitbreaker:
    instances:
      gatewayBackend:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3